#=========================== Filebeat inputs =============================

filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log

#============================= Filebeat modules ===============================

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 1

#============================== Kibana =====================================

setup.kibana:
  host: "{{ filebeat_kibana_host }}:{{ filebeat_kibana_port }}"

#-------------------------- Elasticsearch output ------------------------------

output.elasticsearch:
  hosts: ["http://{{ filebeat_es_host }}:{{ filebeat_es_port }}"]

#------------------------- fix --------------------------------------------

seccomp:
  default_action: allow
  syscalls:
  - action: allow
    names:
    - rseq