---
- name: Apply the role prepare host for use services
  hosts: all
  become: true

  tasks:
  - name: "Upgrade the OS (apt-get dist-upgrade)."
    apt:
      upgrade: dist
      update_cache: true
