<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диплломная работа</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body>
    <header>
      <h1>Дипломная работа</h1>
      <p>Выполнил Филатов Михаил.</p>
    </header>
    <main>
      <article>
        <section>
          <h2>Ссылка на GitHub</h2>
          <a href="https://github.com/MikhailFilatovv/diplom">Исходные коды дипломной работы</a>
        </section>
      </article>
    </main>
    <footer>
      <p>Страница расположена на {{ ansible_host }}</p>
    </footer>
  </body>
</html>