server.port: 5601
server.host: "0.0.0.0"
elasticsearch.hosts: ["http://{{ kibana_es_http_host }}:{{ kibana_es_http_port }}"]
elasticsearch.username: "{{ kibana_user}}"
elasticsearch.password: "{{ vault_kibana_password }}"