<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>"Дипломная работа. Михаил Филатов"</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="content-wrapper">
        <header class="header">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">Дипломная работа. Михаил Филатов</p>
        </header>

        <div class="container clearfix">
            <main class="content">
                <p style="text-align: center; font-size: 30px; margin: 0; padding: 1.5em 0;">Если вы видите эту страницу, то у меня все получилось.</p>
            </main>
        </div>

        <footer class="footer">
            <p style="font-size: 30px; margin: 0; padding: 10px 1em;">Кстати, эта страничка с сервера {{ inventory_hostname }}</p>
        </footer>
    </div>
</body>
</html>