---
# tasks file for role_install_elastic
- name: Elasticsearch install deb from yandex mirror
  apt:
    deb: "https://mirror.yandex.ru/mirrors/elastic/7/pool/main/e/elasticsearch/elasticsearch-{{ es_version }}.deb"

- name: Template elasticsearch config
  template:
    src: "elasticsearch.yml.j2"
    dest: "{{ es_config_dir }}/elasticsearch.yml"
    mode: 0644
  notify:
    - Restart Elasticsearch
